<html>
    <head>
        <title>EchoPath</title>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>EchoPath</h1>
                <ul id="navId">
                    <li> <a href="#">HOME</a> </li>
                    <li> <a href="iot.html">Internet-Of-Things</a> </li>
                    <li> <a href="#">Login</a> </li>
                    <li> <a href="#">Contact</a> </li>
                </ul>
            </nav>
        </header>
        <div class="divider"></div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/max.js"></script> 
</html>


