<html>
    <head>
        <title>EchoPath</title>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>EchoPath</h1>
                <ul id="navId">
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="#">Loogo</a> </li>
                    <li> <a href="#">Contact</a> </li>
                    <li> <a href="#">Feedback</a> </li>
                    <li> <a href="registerlogin.html">Register</a> </li>
                    <li> <a href="#" class="loginHeader"></a> </li>
                </ul>
            </nav>
        </header>
        <div class="divider"></div>
        <div>
            <p class="homeEchoPathPitch">Leads you to places inside a building</p>
            <p class="homeEchoPathDesc">Finding a place inside a building is tiring and time consuming. We often seek
                humans help, use paper maps or directories to find a place inside a building. EchoPath maps the building
                layout and provides step by step navigation on your mobile phone.
            </p>
        </div>
        <div class="homeComingSoon">
            <h1>Coming soon on</h1>
            <img class="homeStoreImages" src="../frontend_static/images/app_store.png" align="left"/>
            <img class="homeStoreImages" src="../frontend_static/images/google-play.png" align="left" hspace="10"/>
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/max.js"></script> 
</html>


