<html>
    <head>
        <title>EchoPath</title>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
    </head>
    <body>
        <header>
            <h1>EchoPath</h1>
             <link rel="shortcut icon" type="image/x-icon" href="../frontend_static/images/logo.png ">
        </header>
        <iframe
            src="http://www.youtube.com/embed/W7qWa52k-nE" width="560" height="315" frameborder="50" allowfullscreen>
        </iframe>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/max.js"></script> 
</html>

