<html>
    <head>
        <title>EchoPath</title>
        <script src="../frontend_static/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!--<script src="frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
        <link rel="stylesheet" href="../frontend_static/css/feedback.css">
    </head>
    <body>
        <header>
                <nav>
                    <h1>EchoPath</h1>
                    <ul id="navId">
                        <li> <a href="echopath.html">Home</a> </li>
                        <li> <a href="#">Loogo</a> </li>
                        <li> <a href="register.html">Register</a> </li>
                        <li> <a href="#">Contact Us</a> </li>
                        <li> <a href="#" class="loginHeader"></a> </li>
                    </ul>
                </nav>
            </header>
        <div class="divider"></div>
        <div class="feedbackContainer">
            <div class="form-group feedbackGroup">
              <textarea class="form-control feedbackText" rows="17" id="feedbackId">Enter feedback here...</textarea>
            </div>
            <input class="btn_submit_feedback" type="submit" name="submit" value="Submit">
        </div>
        <div class="alert alert-success feedbackNotification" id="feedback-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            Product have added to your wishlist.
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/feedback.js"></script>
</html>
