<html>
    <head>
        <title>EchoPath</title>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/loogo.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>EchoPath</h1>
                <ul id="navId">
                    <li> <a href="echopath.html">Home</a> </li>
                    <li> <a href="#">Loogo</a> </li>
                    <li> <a href="navigation.html">Navigation</a> </li>
                    <li> <a href="register.html">Register</a> </li>
                    <li> <a href="feedback.html">Contact Us</a> </li>
                    <li> <a href="#" class="loginHeader"></a> </li>
                </ul>
            </nav>
        </header>
        <div class="divider"></div>
        <div class="loogoHome">
            <span class="loogoPhone">
                <img class="loogoPhoneImg" src="../frontend_static/images/loogo.jpg" width="400" height="600"/>
            </span>
            <span class="loogoText">
                <p class="loogoPitch">Loogo notifies you about Loo's activity</p>
                <p class="loogoDesc">Did you ever wanted to get notified about a restroom activity whether it is
                    closed for cleaning or under repairs, so that you can use the other restrooms. Loogo can help you.
                    Loogo uses internet-of-things technology to notify you about an activity happening at a place.
                </p>
                <p class="loogoDesc"> With Loogo, EchoPath can navigate you to nearest restroom based on the restroom
                    availability
                </p>
                <p class="loogoLinkDesc">For real-time status of the washrooms at Inverness campus check
                    <a href="http://loogoameego.ssedev.io/" class="loogoLink">loogo-a-meego</a>
                </p>
            </span>
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</html>


