<html>
    <head>
        <title>EchoPath</title>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
        <link rel="stylesheet" href="../frontend_static/css/navigation.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>EchoPath</h1>
                <ul id="navId">
                    <li> <a href="echopath.html">Home</a> </li>
                    <li> <a href="loogo.html">Loogo</a> </li>
                    <li> <a href="#">Navigation</a> </li>
                    <li> <a href="register.html">Register</a> </li>
                    <li> <a href="feedback.html">Contact Us</a> </li>
                    <li> <a href="#" class="loginHeader"></a> </li>
                </ul>
            </nav>
        </header>
        <div class="divider"></div>
        <div class="selectionsContainer">
            <div class="glyphicon glyphicon-map-marker fromMarker"></div>
            <div class="form-input">
                <select class="dropDown" name="from_name">
                  <option>From?</option>
                  <option>Breck</option>
                  <option>Durango</option>
                  <option>Aspen</option>
                </select>
            </div>
            <div class="glyphicon glyphicon-map-marker toMarker"></div>
            <div class="form-input">
                <select class="dropDown" name="to_name">
                  <option>To?</option>
                  <option>Breck</option>
                  <option>Bridge</option>
                </select>
            </div>
           <div class="col-lg-12">
                <div class="row goBtnRow">
                    <div class="col-xs-4">
                        <button class="btn btn-success btn-sx goBtn" type="button">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</html>


