<html>
    <head>
        <title>EchoPath</title>
        <script src="../frontend_static/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!--TODO: check if you need the bootstrap.min.js-->
        <!--<script src="../frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
        <link rel="stylesheet" href="../frontend_static/css/navigation.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>EchoPath</h1>
                <ul id="navId">
                    <li>
                        <span style="vertical-align: middle;    ">
                            <a href="echopath.html">Home</a>
                        </span>

                    </li>
                    <li> <a href="loogo.html">Loogo</a> </li>
                    <li> <a href="#">Navigation</a> </li>
                    <li> <a href="register.html">Register</a> </li>
                    <li> <a href="feedback.html">Contact Us</a> </li>
                    <li> <a href="#" class="loginHeader"></a> </li>
                </ul>
            </nav>
        </header>
        <div class="divider"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-6 selectionsContainer">
                    <div class="col-xs-12">
                        <div class="selectionsContainerContent">
                            <div class="row">
                                <div class="col-xs-2 glyphicon glyphicon-map-marker fromMarker"></div>
                                <div class="form-input col-xs-10">
                                    <select class="dropDown" name="from_name" id="fromNameId"></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2 glyphicon glyphicon-map-marker toMarker"></div>
                                <div class="form-input col-xs-10">
                                    <select class="dropDown" name="to_name" id="toNameId"></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-sx goBtn" type="button">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-10">
                            <div class="alert alert-warning navigationNotification" id="navigation-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 selectionsContainer">
                    <div class="directionsContainer">
                        <!--<p class="pull-left"><strong>Route options</strong></p>-->
                        <!--<p class="pull-left">From <strong>Durango</strong></p>-->
                        <!--<p class="pull-left">To <strong>Aspen</strong></p>-->
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/navigation.js"></script>
</html>


