<html>
    <head>
        <title>EchoPath</title>
        <script src="../frontend_static/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="../frontend_static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!--<script src="frontend_static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->

        <!-- Custom CSS @overrides bootstrap elements-->
        <link rel="stylesheet" href="../frontend_static/css/bootstrap_superhero.css">
        <link rel="stylesheet" href="../frontend_static/css/echopath.css">
        <link rel="stylesheet" href="../frontend_static/css/register.css">
    </head>
    <body>
        <header>
                <nav>
                    <h1>EchoPath</h1>
                    <ul id="navId">
                        <li> <a href="echopath.html">Home</a> </li>
                        <li> <a href="loogo.html">Loogo</a> </li>
                        <li> <a href="navigation.html">Navigation</a> </li>
                        <li> <a href="#">Register</a> </li>
                        <li> <a href="feedback.html">Contact Us</a> </li>
                        <li> <a href="#" class="loginHeader"></a> </li>
                    </ul>
                </nav>
            </header>
        <div class="divider"></div>
        <div class="container">
            <form>
                <div class="formInputFirstName">
                    <input type="text" name="first_name" placeholder="Enter First Name">
                </div>
                <div class="form-input">
                    <input type="text" name="last_name" placeholder="Enter Last Name">
                </div>
                <div class="form-input">
                    <input type="tel" name="phone_number" placeholder="Enter Phone Number">
                </div>
                <div class="form-input">
                    <input type="email" name="email" placeholder="Enter email">
                </div>
                <div class="form-input">
                    <input type="text" name="password" placeholder="Enter password">
                </div>
                <div class="form-input">
                    <select class="dropDown fromDropDown" name="From">
                      <option>From</option>
                      <option>Breck</option>
                      <option>Bridge</option>
                    </select>
                </div>
                <div class="form-input">
                    <select class="dropDown toDropDown" name="To">
                      <option>To</option>
                      <option>Breck</option>
                      <option>Bridge</option>
                    </select>
                </div>
            </form>
            <input class="btn_register" type="submit" name="register" value="Register">
        </div>
         <div class="alert alert-warning registerStatusNotification" id="notification-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            Product have added to your wishlist.
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="../frontend_static/javascript/register.js"></script>
</html>
