@import 'https://fonts.googleapis.com/css?family=Anton';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';

body {
    margin: 0 auto;
    background: url("../images/bg.jpg") no-repeat;
    background-size: 100% 1080px;
}

header {
    background-color: black;
    color: white;
    padding: 15px 0px 50px 40px;
    height: 10px;
}

header h1 {
    display: inline;
    font-family: Anton, sans-serif;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

nav ul {
    display: inline;
    padding: 0px;
    float: left;
}

nav ul li {
    display: inline-block;
    list-style: none;
    float: left;
    padding: 8px 0px 60px 40px;
    margin-left: 10px;
    font-weight: 400;
    font-size: medium;
}

nav ul li a {
    color: white;
    float: left;
    text-decoration: none;
}

#navId{
    font-family: Montserrat, sans-serif;
}

.divider {
    background-color: orangered;
    height: 2px;
}

.homeEchoPathPitch {
    font-family: Raleway sans-serif;
    margin: 10% 0% 0% 5%;
    padding: 0 0 0.5% 0;
    color: whitesmoke;
    font-size: 65px;
    display: inline-block;
}

.homeEchoPathDesc {
    font-family: "PT Sans Narrow", serif;
    color: whitesmoke;
    font-size: 25px;
    /*padding: 0% 70% 0 5%;*/
    margin: 0% 40% 0 5.5%;
    display: inline-block;
}

.container{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(52, 73, 94, 0.5);
    margin: 150px auto 0;
    border-radius: 10px;
}

.upload_image {
    width:150px;
    height: 150px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input[type="text"], input[type="date"]{
    height: 45px;
    width: 400px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    padding-left: 10px;
}

.dob_label{
    font-size: 15px;
    text-align: left;
    float: left;
    padding-left: 35px;
}

.label-primary{
    height: 45px;
    width: 200px;
    font-size: 18px;

}

.form-input::before {
    content: "";
    position: absolute;
    font-family: "FontAwesome", serif;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
}

.btn_submit {
    padding: 15px 30px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #2ECC71;
}