@import 'https://fonts.googleapis.com/css?family=Anton';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';

body {
    margin: 0 auto;
    background: url("../images/bg3.jpg") no-repeat fixed center center;
    background-size: cover;
}

header {
    color: #2a323a;
    padding: 15px 0px 50px 40px;
    height: 10px;
}

header h1 {
    display: inline;
    font-family: Anton, sans-serif;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

nav ul {
    display: inline;
    padding: 0px;
    float: left;
}

nav ul li {
    display: inline-block;
    list-style: none;
    float: left;
    padding: 8px 0px 60px 40px;
    margin-left: 10px;
    font-weight: 400;
    font-size: medium;
}

nav ul li a {
    color: #2a323a;
    float: left;
    text-decoration: none;
}

#navId{
    font-family: Montserrat, sans-serif;
}

.divider {
    background-color: orangered;
    height: 2px;
}

.loogoHome {
    float: left;
    display: inline-block;
}

.loogoPhone {
    float: right;
    width: 25%;
    opacity: 0.8;
}

.loogoPhoneImg {
    border-radius: 5px;
    padding: 5% 5% 5% 5%;
}

.loogoText {
    float: left;
    width: 70%;
}

.loogoPitch {
    font-family: Raleway sans-serif;
    /*margin: 2% 0% 0% 5%;*/
    padding: 3% 10% 0.5% 5%;
    color: #2a323a;
    font-size: 50px;
    float: left;
    display: block;
}

.loogoDesc {
    font-family: "PT Sans Narrow", serif;
    color: black;
    font-size: 25px;
    padding: 0% 2% 0 5%;
    /*margin: 0% 40% 0 5.5%;*/
    float: left;
    display: inline-block;
}

.loogoLinkDesc {
    font-family: "PT Sans Narrow", serif;
    color: black;
    font-size: 25px;
    padding: 0% 2% 0 5%;
    /*margin: 0% 40% 0 5.5%;*/
    float: left;
    display: inline-block;
}

.loogoLink {
    color: blue;
}